/*#Htmlbody{*/
	/*background-color: #AAA;*/
	/*height: 30px;*/
/*}*/

/*#ModelButtons{*/
	/*margin: 15px; */
/*}*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
/*.masthead{padding:60px 0 80px;margin-bottom:0;color:#fff}*/
.mybtn2{
	border-radius: 0;
}

.myborder{
	border-radius: 5px;
}
.myselect{

	padding: 0;
	width: 43%;
	height: 34px;

	text-indent: 10px;
}

.mykuang{
	border-radius: 20px;
	background-color: #eee;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 20px;
}

.myjub{
	border-radius: 20px;
}
.mybar{
	border-radius: 0px;}


	table  tr td {
				border: 2px solid;
				width:5%;
			}
			th{
				border: 2px solid;
				width:5%;
			}
			.mycenter{
				margin: 0 auto;
			}

			.foot{
				font-size: 4px;
			}
			body{
				padding: 0;
				margin: 0;
				border: 0;
				background-color: #cfd5e1
			}







.jumbotron1{
	background:url(../images/2.jpg);
	margin-top: -20px;
	height: 400px;
}
.jumbotron2{
	background:url(../images/2.jpg);
	margin-top: -20px;
	height: 100px;
}
.mybar{
	border-radius: 0px;
}
.myarea{
	width:auto;
	margin: 0 auto;
	background-color:#a6e1ec;
	border-radius: 20px;}

#myborder,
#myborder th,
#myborder tr,
#myborder td{
	border:2px solid #B0C4DE;
}
.table-hover > tbody > tr:hover {
	background-color: #55AAAA;}

.mytable td{
	width:200px;
}

#select{
	width: 20%
}
#select input{
	border-radius: 20px;}
.biaoge td{
	height: 50px;
	font-size: 1.5em;
}
.biaoge th{
	height: 50px;
	font-size: 1.5em;
}

.page a
{	
	border:#aaaadd 3px solid;
	text-decoration: none;
	padding:2px 5px 2px 5px;
	
	font-size: 0.6em;
}

.page span.current
{
	border:#000099 3px solid;
	color:#fff;
	background-color: #4646BC;
	padding: 3px 5px;

}

.page span.disable
{
	border:#cfd5e1 1px solid;
	padding:2px 5px 2px 5px;
	margin: 2px;
	color: #9D7979;

}

.page form
{
	display: inline;
}

.page input.text
{
	width: 40px;
}
